{% extends 'base.html' %}

{% block styles %}
<style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .chat-container {
      position: absolute;
      bottom: 120px;
      right: 30px;
    }

    /* CONTENT IS CLOSE */
    .chat-container-support {
      display: flex;
      flex-direction: column;
      width:  400px;
      height: 550px;
      z-index: -123456;
      opacity: 0;
      transition: all .5s ease-in-out;
    }

    /* CONTENT IS OPEN */
    .chatbox--active {
      transform: translateY(-40px);
      z-index: 123456;
      opacity: 1;
    }

    .message-box-wrapper{
      overflow-y: auto;
    }

    .message-box{
      padding: 1.25rem;
    }

    .messages-list {
      padding-left: 0;
    }
    
    .message {
      margin-bottom: 15px;
      list-style: none;
    }
   
    .message-text {
      padding: 10px;
      border-radius: 5px;
    }

    .sent {
      background-color: #dcf8c6;
      align-self: flex-end;
    }

    .received {
      background-color: #f1f0f0;
      align-self: flex-start;
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .btn-send {
      border-radius: 0;
    }

    .chatbox-button button,
    .chatbox-button button:focus,
    .chatbox-button button:visited {
      right:30px;
      width: 100px;
      height: 100px;
      position: fixed;
      padding: 10px;
      background: white;
      border: none;
      outline: none;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      z-index: 123456;
      } 

      .loading-wrapper{
        display: inline-block;
        height: 100%;
        width: 40px;
        position: relative;
      }

      .loading-wrapper > span{
        transform: scale(.7);
        position: absolute;
        top: -24px;
        font-size: 30px;
      }

      #loading-circle1{
        animation: rlc1 .8s linear infinite alternate;
      }

      @keyframes rlc1{
        0%{
          margin-top: -6px;
        }
        25%{
          margin-top: 0px;
        }
        50%{
          margin-top: 6px;
        }
        75%{
          margin-top: 0px;
        }
        100%{
          margin-top: -6px;
        }
      }

      #loading-circle2{
        animation: rlc2 .8s linear infinite alternate;
        margin-left: 8px;
      }

      @keyframes rlc2{
        0%{
          margin-top: 0px;
        }
        25%{
          margin-top: -6px;
        }
        50%{
          margin-top: 0px;
        }
        75%{
          margin-top: 6px;
        }
        100%{
          margin-top: 0px;
        }
      }

      #loading-circle3{
        animation: rlc3 .8s linear infinite alternate;
        margin-left: 16px;
      }

      @keyframes rlc3{
        0%{
          margin-top: 6px;
        }
        25%{
          margin-top: 0px;
        }
        50%{
          margin-top: -6px;
        }
        75%{
          margin-top: 0px;
        }
        100%{
          margin-top: 6px;
        }
      }
  </style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card chat-container-support">
    <div class="card-header bg-primary text-white">Chat support</div>
      <div class="message-box-wrapper">
        <div class="card-body messages-box">
          <ul class="list-unstyled messages-list">
            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>AI Chatbot</b>
                </div>
                <div class="message-content">
                  Hi, I am your AI Chatbot, you can ask me anything.<br>
                  こんにちは、私はAI Chatbotです。お気軽にご質問ください。
                </div>
              </div>
            </li>
          </ul>
        </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
    <form class="message-form">
      {%csrf_token%}
      <div class="input-group">
        <input type="text" class="form-control message-input" placeholder="Type your message...">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary btn-send">Send</button>
        </div>
      </div>
    </form>
  </div>
  <div class="chatbox-button">
    {% load static %}
    <button><img src="{% static "images/comment_icon.png" %}" width=85px height=100px/></button>
  </div>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');
  const openButton = document.querySelector('.chatbox-button')
  const chatBox = document.querySelector('.chat-container-support')
  var state = false;
  
  openButton.addEventListener('click', () => toggleState(chatBox))

  function toggleState(chatbox) {
    state = !state;

    // show or hides the box
    if(state) {
        chatbox.classList.add('chatbox--active')
    } else {
        chatbox.classList.remove('chatbox--active')
    }
  }

  messageForm.addEventListener('submit', (event) => {
    const startTime = performance.now();
    // prevent page reflesh
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }
    
    // duplicate li class and add sent class dynamically to implement chat function from user
    const messageItemSent = document.createElement('li');
    messageItemSent.classList.add('message', 'sent');
    messageItemSent.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>You</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(messageItemSent);
    
    // reset messageInput to prepare next one
    messageInput.value = '';
    
    // grobal to deal with updating to new tokens
    var res_from_bot = ""

    // start loading animation
    const loadingDiv = document.createElement('li');
    setTimeout(()=>{
      messagesList.appendChild(loadingDiv);
      loadingDiv.classList.add('message', 'received');
    });
    loadingDiv.innerHTML = `
    <div class = "message-text">
      <div class="message-sender">
        <b>AI Chatbot</b>
      </div>
      <div class ="loading-wrapper">
        <span id = "loading-circle1" class = "loading-material">
          ・
        </span>
        <span id = "loading-circle2" class = "loading-material">
          ・
        </span>
        <span id = "loading-circle3" class = "loading-material">
          ・
        </span>
      </div>
    </div>
    `;


    async function startStreaming(){
      const response = await fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message
        })
      })

      // end loading animation
      loadingDiv.remove();

      // duplicate li class and add sent class dynamically to implement chat function from AiChatbot
      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'received');
      messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content-received">
                  ${res_from_bot}
            </div>
        </div>
          `;
      messagesList.appendChild(messageItem);

      // reader for StreamingHttpResponse 
      const reader = response.body.getReader();

      while (true) {
        const { done, value } = await reader.read();
  
        if (done) {
          // The stream has ended
          break;
        }
  
        // Process the data chunk
        onDataReceived(value);
      }

    }

    startStreaming();
      
    function onDataReceived(dataChunk) {
      
      // Process each data chunk as it arrives
      var text = new TextDecoder().decode(dataChunk);
      
      
      /* insert a new line in html if token has '-'
      console.log(text);
      if (text.indexOf('-') !== -1){
        console.log("there is -");
        text = '<br>' + text;
      }
      */

      res_from_bot += text;
      
      // for pointing new message-content class
      var num_class = document.getElementsByClassName("message-content-received").length;
      document.getElementsByClassName("message-content-received")[num_class-1].innerHTML = res_from_bot      
    }

    const sleep = ms => new Promise(resolve => setTimeout(resolve, ms))
    async function wait() {
      //0.1sleep
      await sleep(100);
    }

  });

</script>

{% endblock %}